<h1>Login page</h1>
<form id="loginForm" class="authForm">
    <input type="text" placeholder="email" id="loginEmail">
    <input type="password"id="loginPassword">
    <button>Login</button>
</form>

<script src="/js/login.js"></script>